<div class="content">
  <div class="reset-password">
    <img class="logo" src="/assets/logo.png" alt="">
    <div class="flex justify-content-center flex-wrap card-container yellow-container">
      <p-card class="card">
        <form [formGroup]="form">
          <p>Digite a nova senha:</p>
          <input type="password" pInputText placeholder="Nova Senha" formControlName="password"/>
          <input type="password" formControlName="passwordConfirm" pInputText placeholder="Confirme a senha"/>
        </form>
        <button pButton type="submit" (click)="resetPassword()" label="Redefinir"></button>
      </p-card>
    </div>
  </div>
  <h4 class="text-reset" style="color: black; text-align: center; margin-top: 2em;">{{response_text_msg}}</h4>
</div>
