.body {
  width: 100%;

  h1 {
    text-align: center;
    margin-top: 6em;
    font-family: 'Courier New', Courier, monospace;
  }

  .container-error {
    margin: 0 auto;
    width: 250px;
    margin-top: 3em;
  }
}
